<nav id="main_nav" role="navigation">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "About", about_the_club_path %></li>
		<li><%= link_to "Join", how_to_join_path %></li>
		<li><%= link_to "What you need", what_you_need_path %></li>
    <li><%= link_to "#{Time.now.year} Programme" , events_path %></li>
		<li><%= link_to "Newsletters", newsletters_path %></li>
		<li><%= link_to "Club Matters", club_matters_path %></li>
		<li><%= link_to "How to get here", how_to_get_here_path %></li>
		<li><%= link_to "Book a lawn", book_a_lawn_path %></li>
		<li><%= link_to "Croquet Sites", links_to_croquet_sites_path %></li>

	</ul> 
</nav>
