<article>

  <section id="centralpanel">
    
    <h1> World Championships and Federation </h1>
    
    <ul>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/2015-under-21-gc-world-championship">2015 Under-21 GC World Championship</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/2015-golf-croquet-world-championship">2015 Golf Croquet World Championship</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/2015-women-s-ac-world-champ">2015 Women's AC World Championship</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/previous-events">Previous Championships</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/rankings">WCF World Rankings</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/policies">Event Governance</a></li>
    <li><a href="http://www.wcfcroquet.org/joomla/index.php/ten-year-schedule-of-events">WCF 10 Year Schedule</a></li>
    </ul>
    
  
    <h1> Welcome to Cheam Bowling and Croquet </h1>
    <p>
        Welcome to the Cheam Croquet and Bowls Club's web site. You will find here the details of how to contact and join us, together with some basic information about the Club. 
The Club is located in Cheam Recreation Ground, and has one full-sized croquet lawn within a bowling green. Currently we have 81 members, with 70 primarily playing Croquet and 11 primarily playing Bowls. </p>
<p>Members of the public are welcome to try playing croquet or bowls during our regular club sessions between April and September. The first 4 sessions are free after which you would be expected to join the Club – there is a waiting list for croquet membership – or to come as the guest of a member. 

The Club runs a public coaching course for croquet each summer, usually in August.


    </p>
    
     <h1><li><%= link_to "Book a lawn", book_a_lawn_path %></li></h1>
  <p>
        If you are planning a friendly match with a few friends , you can book a lawn for up to 4 hours. Find out more on the Lawn booking page
  </p> 
    
    <h1><li><%= link_to "About", about_the_club_path %></li></h1>
  <p>
        The club is currently holding sessions for anyone interested in coaching Croquet.
  </p> 

  </section>

  <section id="leftpanel">
    
    <h1>Merry Christmas and a Happy New Year </h1>
  <p>
        All members at Cheam Croquet and Bowls club would like to wish you and your families a Merry Christmas and a Happy New Year.
  </p> 
    
     <p>
        Please note that the club will be closed from the 22nd December until the 12 January 2015.
       For and enquiries, please see contact details.
  </p> 
    <h1><li><%= link_to "Recent Newsletters", newsletters_path %></li></h1>
  <p>
        Visit the newsletters page to keep in touch. You can download pdf files with more information about the club's activities.
  </p> 
    
    <h1> <li><%= link_to "#{Time.now.year} Events" , events_path %></li> </h1>
  <p>
        Visit the 2015 Programme page to see more events planned for the next few weeks. The 2015 Programme will be released after the
        general commitee meeting to be held on the 12th of January 2015
  </p> 
    
    <h1>	<li><%= link_to "How to get to the club", how_to_get_here_path %></li></h1>
  <p>
        Directions: From the A2043 just north of Cheam Village turn into Tudor Close. At the end of the road go through gates to enter the free car park. The Club (marked Bowling Green on the map) is just inside the Recreation Ground opposite a children’s playground.
  </p> 
  </section>
 
</article>